:root {
  --main-text-color: #000000;
  --text-color: #ffffff;
  --button-color: #2196f3;
  --main-gray: #757575;
  --gray-op60: rgba(255, 255, 255, 0.6);
  --gray-op10: rgba(255, 255, 255, 0.1);
  --accent-background-color: #2f303a;
  --background-color: #f5f4fa;
  --network-color: #afb1b8;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --gradient-color-work: rgba(47, 48, 58, 0.8);
  --border-header: #ececec;
  --cubic-bezier: cubic-bezier (0.4, 0, 0.2, 1);
  --font-modal: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0px;
}

.logo,
.site-menu__item,
.contakts-menu__item,
.footer__logo {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-us {
  padding: 60px 0px;
}

@media (min-width: 1200px) {
  .about-us {
    padding: 94px 15px;
  }
}

.address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  list-style-type: none;
}

.contakts__adress {
  display: block;
  text-decoration: none;
  margin-bottom: 9px;
  color: var(--text-color);
}

.contakts__adress:hover, .contakts__adress:focus {
  color: var(--button-color);
}

.contakts__mailto {
  display: block;
  text-decoration: none;
  margin-bottom: 9px;
  color: var(--gray-op60);
}

.contakts__mailto:hover, .contakts__mailto:focus {
  color: var(--button-color);
}

.contakts__tel {
  display: block;
  text-decoration: none;
  color: var(--gray-op60);
}

.contakts__tel:hover, .contakts__tel:focus {
  color: var(--button-color);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-property: background-color color box-shadow;
  transition-property: background-color color box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.btn:hover, .btn:focus {
  background-color: var(--button-color);
  color: var(--text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.clients {
  padding-top: 60 px;
  padding-bottom: 60px;
}

@media (min-width: 767px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .clients {
    -ms-flex-wrap: center;
        flex-wrap: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__heading {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .clients__heading {
    font-size: 36px;
    line-height: 42px;
  }
}

.clients__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
}

@media (max-width: 479px) {
  .clients__logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .clients__logos {
    -ms-flex-wrap: center;
        flex-wrap: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--network-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: var(--network-color);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

@media (min-width: 767px) {
  .clients__item {
    width: 226px;
    height: 90px;
  }
}

@media (min-width: 1200px) {
  .clients__item {
    -ms-flex-wrap: center;
        flex-wrap: center;
    width: 170px;
    height: 90px;
  }
}

.clients__item:hover, .clients__item:focus {
  fill: var(--button-color);
  border: 1px solid var(--button-color);
}

.clients__list {
  margin-left: 30px;
  margin-bottom: 30px;
}

@media (max-width: 479px) {
  .clients__list {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media (max-width: 1200px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media (min-width: 1200px) {
  .clients__list {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .clients__list:nth-child(2n + 1) {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .clients__list:nth-child(3n + 1) {
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  .clients__list:not(:first-child) {
    margin-left: 30px;
    padding-left: 0px;
  }
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* outline: 2px solid red;*/
.contakts-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 1200px) {
  .contakts-menu {
    display: block;
    padding: 21px 0px;
  }
}

.contakts-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  color: var(--main-gray);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

@media (max-width: 1200px) {
  .contakts-menu__item {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (min-width: 1200px) {
  .contakts-menu__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contakts-menu__item:hover, .contakts-menu__item:focus {
  color: var(--button-color);
}

@media (max-width: 1200px) {
  .contakts-menu__link:last-child {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .contakts-menu__link:last-child {
    margin-left: 30px;
  }
}

.contakts-menu__icon {
  fill: currentColor;
  margin-right: 10px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .contakts-menu__icon-mail {
    width: 14px;
    height: 10px;
  }
}

@media (max-width: 1200px) {
  .contakts-menu__icon-smartfone {
    width: 10px;
    height: 14px;
  }
}

.footer-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-networks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--gray-op10);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.footer-networks__item:hover, .footer-networks__item:focus {
  background-color: var(--button-color);
  border-radius: 50%;
}

.footer-networks__img {
  fill: var(--text-color);
}

.footer-networks__list {
  margin-left: 10px;
}

.footer-networks__list:first-child {
  margin-left: 0px;
}

.footer {
  background: var(--accent-background-color);
  color: var(--text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .footer__contakts {
    width: 100%;
  }
}

.footer__logo {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 767px) {
  .footer__network {
    margin-top: 60px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer__network {
    margin-top: 6px;
  }
}

@media (min-width: 1200px) {
  .footer__network {
    margin-left: 70px;
  }
}

.footer__join {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer__mailing {
  width: 100%;
  margin-left: 0px;
}

@media (max-width: 767px) {
  .footer__mailing {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .footer__mailing {
    margin-left: 93px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .footer__mailing {
    margin-top: 60px;
  }
}

.mailing {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid var(--border-header);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__contakts {
  display: none;
  margin-left: auto;
}

@media (min-width: 767px) {
  .header__contakts {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header__contakts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border: transparent;
  background: transparent;
}

@media (min-width: 767px) {
  .header-menu__btn {
    display: none;
  }
}

.header-menu__btn:hover {
  fill: var(--button-color);
}

.header-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  background: none;
  color: var(--text-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/hero.jpg);
  max-width: 470px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 767px) {
  .hero {
    max-width: 767px;
    background-color: var(--accent-background-color);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/herotablet.jpg);
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/herotablet.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/fond.jpg);
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/fond.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__heading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .hero__heading {
    font-size: 26px;
    line-height: 42px;
  }
}

.hero__btn {
  padding: 10px 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: hidden;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-weight: 500;
}

.logo {
  padding: 16px 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 767px) {
  .logo {
    padding: 26px 0;
    margin-right: 38px;
  }
}

@media (min-width: 1200px) {
  .logo {
    padding: 26px 0;
    margin-right: 43px;
    font-size: 26px;
    line-height: 31px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: var(--font-modal);
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  height: 609px;
  width: 450px;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scaleY(1);
          transform: translate(-50%, -50%) scaleY(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

@media (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--text-color);
}

.modal-btn:hover .modal-close,
.modal-btn:focus .modal-close {
  fill: var(--button-color);
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: var(--main-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-haeding {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .modal-haeding {
    line-height: 23px;
  }
}

.modal-form__group {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 10px;
}

.modal__input {
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding-left: 32px;
  font-family: inherit;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.modal-form__input-wrapper {
  cursor: pointer;
  position: relative;
  height: 40px;
  margin-top: 4px;
}

.modal__icon {
  position: absolute;
  top: 52%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.modal-form__group:hover .modal__input,
.modal-form__group:focus-within .modal__input {
  border-color: var(--button-color);
}

.modal-form__group:hover .modal__input + .modal__icon,
.modal-form__group:focus .modal__input + .modal__icon {
  fill: var(--button-color);
}

.modal__coment {
  margin: 0px;
}

.modal__textarea {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

@media (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}

.modal-check {
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  padding-left: 18px;
  margin-bottom: 30px;
  color: #757575;
}

@media (min-width: 1200px) {
  .modal-check {
    font-size: 14px;
    line-height: 24px;
    padding-left: 28px;
  }
}

.modal-check__checkbox:checked ~ .modal-check__icon {
  fill: var(--button-color);
  border: none;
}

.modal-check__icon {
  position: absolute;
  cursor: pointer;
  fill: transparent;
  border: 1px solid var(--main-gray);
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

@media (min-width: 1200px) {
  .modal-check__icon {
    left: 14px;
  }
}

.modal__btn-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.modal__btn-send:hover, .modal__btn-send:focus {
  background: #188ce8;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--network-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.networks__item:hover, .networks__item:focus {
  background-color: var(--button-color);
  color: var(--text-color);
  border-radius: 50%;
}

.networks__img {
  fill: currentColor;
}

.networks__list {
  margin-left: 10px;
}

.networks__list:first-child {
  margin-left: 0px;
}

.portfolio-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.portfolio-btns__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
  border-style: hidden;
  border-radius: 4px;
}

.portfolio-btns__list {
  margin-left: 8px;
}

.portfolio-btns__list:first-child {
  margin-left: 0px;
}

.portfolio-cards {
  padding: 20px 24px;
}

.portfolio-cards__name {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 0px;
  margin-bottom: 4px;
}

.portfolio-cards__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-gray);
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -30px 0px 0px -30px;
}

.portfolio-post__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.portfolio-post__thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  -webkit-transform: translateY(103%);
          transform: translateY(103%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__thumb-text {
  position: absolute;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0px;
  top: 0;
  left: 0;
  color: var(--text-color);
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  outline: 1px solid #ececec;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.portfolio .portfolio-post__item:hover,
.portfolio .portfolio-post__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-post__link {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow transform;
  transition-property: -webkit-box-shadow transform;
  transition-property: box-shadow transform;
  transition-property: box-shadow transform, -webkit-box-shadow transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__link:hover .portfolio-post__thumb::before,
.portfolio-post__link:focus .portfolio-post__thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio .portfolio-post__item:hover .portfolio-post__thumb-text,
.portfolio .portfolio-post__item:focus .portfolio-post__thumb-text {
  opacity: 1;
}

.portfolio-post__link:hover .portfolio-post__thumb-text,
.portfolio-post__link:focus .portfolio-post__thumb-text {
  opacity: 1;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.post {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 767px) {
  .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .post {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.post__menu {
  margin-top: 0px;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .post__menu {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 767px) {
  .post__menu:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .post__menu:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .post__menu:nth-child(2n + 1) {
    margin-left: 0px;
  }
}

.post__title {
  text-align: center;
  margin: 0px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.post__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0px;
  color: var(--main-gray);
}

.post__icon {
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .post__icon {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .post__icon {
    max-width: 270px;
  }
}

@media (min-width: 767px) {
  .signup-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1200px) {
  .signup-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.signup-form__input {
  font-family: inherit;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 0px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .signup-form__input {
    margin-bottom: 0px;
    margin-right: 12px;
    width: 358px;
  }
}

.signup-form__input:hover, .signup-form__input:focus {
  border: 1px solid var(--button-color);
}

.signup-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  color: var(--text-color);
  border: none;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media (max-width: 767px) {
  .signup-form__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.signup-form__btn-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  fill: var(--text-color);
}

.site-menu {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-menu__item {
  position: relative;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 32px 0;
  color: var(--main-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic-bezier);
          transition-timing-function: var(--cubic-bezier);
}

.site-menu__item:hover, .site-menu__item:focus {
  color: var(--button-color);
}

.site-menu__item--carrnet {
  color: var(--button-color);
}

.site-menu__item--carrnet::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  border-radius: 2px;
  margin-bottom: -1px;
}

@media (min-width: 1200px) {
  .site-menu__item--carrnet::after {
    margin-bottom: -3px;
  }
}

.site-menu__link {
  margin-left: 50px;
}

.team-list {
  padding-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (min-width: 767px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list__cards {
  margin-top: -4px;
  padding: 30px 32px;
  background-color: var(--text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 1200px) {
  .team-list__cards {
    padding: 30px 24px;
  }
}

.team-list__thumb {
  height: 460px;
}

@media (min-width: 767px) {
  .team-list__thumb {
    height: 374px;
  }
}

@media (min-width: 1200px) {
  .team-list__thumb {
    height: 260px;
  }
}

.team-list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-list__item {
  height: 622px;
  background: var(--text-color--);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media (min-width: 767px) {
  .team-list__item {
    height: 536px;
    margin-top: 0px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .team-list__item {
    height: 428px;
    margin-bottom: 0px;
    margin-left: 30px;
  }
}

@media (min-width: 767px) {
  .team-list__item:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .team-list__item:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .team-list__item:nth-child(2n + 1) {
    margin-left: 0px;
  }
}

.team-list__member {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.team-list__position {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-gray);
}

.team {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color);
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__heading {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media (min-width: 1200px) {
  .team__heading {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
}

.web {
  color: var(--button-color);
}

.works-image__thumbs {
  position: relative;
  display: block;
  width: 370px;
}

.works-image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 370px;
  height: 23.8%;
  background-color: var(--gradient-color-work);
  bottom: 1%;
}

.works-image__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  color: var(--text-color);
}

.works-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works {
  margin-top: 0px;
  padding-bottom: 94px;
}

@media (max-width: 1200px) {
  .works {
    display: none;
  }
}

.works__title {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.works__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
}
/*# sourceMappingURL=main.css.map */