.clients {
  padding-top: 60 px;
  padding-bottom: 60px;

  @media (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1200px) {
    flex-wrap: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__heading {
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;

  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.clients__logos {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;

  @media (min-width: 1200px) {
    flex-wrap: center;
    align-items: center;
    justify-content: center;
  }
}

.clients__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--network-color);
  box-sizing: border-box;
  fill: var(--network-color);

  @media (min-width: 767px) {
    width: 226px;
    height: 90px;
  }

  @media (min-width: 1200px) {
    flex-wrap: center;
    width: 170px;
    height: 90px;
  }

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--button-color);
    border: 1px solid var(--button-color);
  }
}

.clients__list {
  margin-left: 30px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media (max-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media (min-width: 1200px) {
    flex-basis: auto;
    margin-bottom: 0px;
  }

  &:nth-child(2n + 1) {
    @media (max-width: 767px) {
      margin-left: 0px;
    }
  }

  &:nth-child(3n + 1) {
    @media (min-width: 768px) {
      margin-left: 0px;
    }
  }

  &:not(:first-child) {
    @media (min-width: 1200px) {
      margin-left: 30px;
      padding-left: 0px;
    }
  }
}
