.header-menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin-left: auto;
  margin-top: 22px;
  margin-bottom: 22px;

  padding: 0px;

  width: 40px;
  height: 40px;

  border: transparent;
  background: transparent;
  color: var(--text-color);

  @media (min-width: 767px) {
    display: none;
  }

  &:hover {
    fill: var(--button-color);
  }
}

.header-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
