.header {
  border-bottom: 1px solid var(--border-header);
}

.header__container {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header__contakts {
  display: none;
  margin-left: auto;
}
