.hero {
  background: none;
  color: var(--text-color);
  text-align: center;
  background-image: linear-gradient(
      to right,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/hero.jpg);

  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 767px) {
    background-image: linear-gradient(
        to right,
        var(--gradient-color),
        var(--gradient-color)
      ),
      url(../images/fond.jpg);
  }

  @media (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__heading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 26px;
    line-height: 42px;
  }
}

.hero__btn {
  padding: 10px 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: hidden;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-weight: 500;
}
