.logo {
  padding: 16px 0;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;

  @media (min-width: 767px) {
    padding: 26px 0;
    margin-right: 38px;
  }

  @media (min-width: 1200px) {
    padding: 26px 0;
    margin-right: 43px;
    font-size: 26px;
    line-height: 31px;
  }
}
