.portfolio-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;

  @media (min-width: 767px) {
    margin: -30px 0px 0px -30px;
  }
}

.portfolio-post__thumb {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  width: 450px;
  height: 294px;

  @media (min-width: 767px) {
    width: 354px;
  }
  @media (min-width: 1200px) {
    width: 370px;
  }
}

.portfolio-post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-post__thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  transform: translateY(103%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__thumb-text {
  position: absolute;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  padding: 63px 24px;
  margin: 0px;

  top: 0;
  left: 0;

  color: var(--text-color);

  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__item {
  @media (max-width: 767px) {
    margin-left: 0px;
    width: 450px;
    height: 404px;
  }

  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  outline: 1px solid #ececec;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__item:first-child {
  @media (max-width: 767px) {
    margin-top: 0px;
  }
}

.portfolio .portfolio-post__item:hover,
.portfolio .portfolio-post__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-post__link {
  cursor: pointer;
  text-decoration: none;
  transition-property: box-shadow transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-post__link:hover .portfolio-post__thumb::before,
.portfolio-post__link:focus .portfolio-post__thumb::before {
  transform: translateY(0);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio .portfolio-post__item:hover .portfolio-post__thumb-text,
.portfolio .portfolio-post__item:focus .portfolio-post__thumb-text {
  opacity: 1;
}

.portfolio-post__link:hover .portfolio-post__thumb-text,
.portfolio-post__link:focus .portfolio-post__thumb-text {
  opacity: 1;
}
