.post {
  margin-top: 0px;
  margin-bottom: 0px;

  @media (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.post__menu {
  margin-top: 0px;
  margin-bottom: 30px;

  @media (min-width: 767px) {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-basis: calc((100% - 60px) / 2);
  }

  &:first-child {
    @media (min-width: 767px) {
      margin-left: 0px;
    }
  }

  &:last-child {
    @media (max-width: 767px) {
      margin-bottom: 0px;
    }
  }

  &:nth-child(2n + 1) {
    @media (min-width: 767px) and (max-width: 1200px) {
      margin-left: 0px;
    }
  }
}

.post__title {
  text-align: center;
  margin: 0px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.post__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 0px;
  color: var(--main-gray);
}

.post__icon {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  @media (min-width: 767px) {
    max-width: 354px;
  }

  @media (min-width: 1200px) {
    max-width: 270px;
  }
}
