.site-menu {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.site-menu__item {
  position: relative;

  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;

  padding: 32px 0;

  color: var(--main-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--button-color);
  }
}

.site-menu__item--carrnet {
  color: var(--button-color);

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--button-color);
    border-radius: 2px;
    margin-bottom: -1px;

    @media (min-width: 1200px) {
      margin-bottom: -3px;
    }
  }
}

.site-menu__link {
  margin-left: 50px;
}
