.team {
  margin-top: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--background-color);
}

.team__heading {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  text-align: center;
}
