.team-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;

  @media (max-width: 767px) {
    display: block;
  }
}

.team-list__cards {
  margin-top: -4px;
  padding: 30px 32px;
  background-color: var(--text-color);
}

.team-list__item {
  background: var(--text-color--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__member {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.team-list__position {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-gray);
}
