.team {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-color);

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__heading {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
}
