.works {
  @media (max-width: 1200px) {
    display: none;
  }

  margin-top: 0px;
  padding-bottom: 94px;
}

.works__title {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  text-align: center;
}

.works__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
}
